:root {
    --preto: #141414;
}

.container-filmes {
    display: grid;
    grid-template-columns: repeat(6, 17%);
    margin: 20px;
}

.container-filmes div {
    height: 300px;
    width: 200px;
    border: solid 5px var(--preto);
}

.container-filmes .filme-1 {
    background: url('/img/filmes/DC/aquaman.jpg');
    background-size: cover;
}

.container-filmes .filme-2 {
    background: url('/img/filmes/DC/batman-begins.jpg');
    background-size: cover;
}

.container-filmes .filme-3 {
    background: url('/img/filmes/DC/batman-vs-superman-a-origen-da-justica.jpg');
    background-size: cover;
}

.container-filmes .filme-4 {
    background: url('/img/filmes/DC/o-homem-de-aco.jpg');
    background-size: cover;
}

.container-filmes .filme-5 {
    background: url('/img/filmes/marvel/o-espetacular-homem-aranha.jpg');
    background-size: cover;
}

.container-filmes .filme-6 {
    background: url('/img/filmes/marvel/eternos.jpg');
    background-size: cover;
}

.container-filmes .filme-7 {
    background: url('/img/filmes/DC/mulher-maravilha-1984.jpg');
    background-size: cover;
}

.container-filmes .filme-8 {
    background: url('/img/filmes/marvel/capita-marvel.jpg');
    background-size: cover;
}

.container-filmes .filme-9 {
    background: url('/img/filmes/marvel/guardioes-da-galaxia-vol-2.jpg');
    background-size: cover;
}

.container-filmes .filme-10 {
    background: url('/img/filmes/marvel/capitao-america-o-primeiro-vingador.jpg');
    background-size: cover;
}

.container-filmes .filme-11 {
    background: url('/img/filmes/DC/liga-da-justica-de-zack-snyder.jpg');
    background-size: cover;
}

.container-filmes .filme-12 {
    background: url('/img/filmes/marvel/homem-aranha-no-aranhaverso.jpg');
    background-size: cover;
}

.container-filmes .filme-13 {
    background: url('/img/filmes/DC/batman-o-cavaleiro-das-trevas.jpg');
    background-size: cover;
}

.container-filmes .filme-14 {
    background: url('/img/filmes/DC/watchmen-o-filme.jpg');
    background-size: cover;
}

.container-filmes .filme-15 {
    background: url('/img/filmes/marvel/homem-aranha-2.jpg');
    background-size: cover;
}

.container-filmes .filme-16 {
    background: url('/img/filmes/marvel/homem-de-ferro.jpg');
    background-size: cover;
}

.container-filmes .filme-17 {
    background: url('/img/filmes/marvel/vingadores-ultimato.jpg');
    background-size: cover;
}

.container-filmes .filme-18 {
    background: url('/img/filmes/DC/mulher-maravilha.jpg');
    background-size: cover;
}

.container-filmes .filme-19 {
    background: url('/img/filmes/marvel/homem-aranha-longe-de-casa.jpg');
    background-size: cover;
}

.container-filmes .filme-20 {
    background: url('/img/filmes/marvel/capitao-america-o-soldado-invernal.jpg');
    background-size: cover;
}

.container-filmes .filme-21 {
    background: url('/img/filmes/marvel/vingadores-guerra-infinita.jpg');
    background-size: cover;
}

.container-filmes .filme-22 {
    background: url('/img/filmes/DC/batman-o-cavaleiro-das-trevas-ressurge.jpg');
    background-size: cover;
}

.container-filmes .filme-23 {
    background: url('/img/filmes/marvel/shang-chi.jpg');
    background-size: cover;
}

.container-filmes .filme-24 {
    background: url('/img/filmes/marvel/guardioes-da-galaxia.jpg');
    background-size: cover;
}